._2e42{box-sizing:border-box}
._3fkc{text-align:center}._mch{height:36px;margin-bottom:10px;padding:0;text-align:center;width:100%}._nsv{border:0;padding-top:5px}

#bootloader_UUiKJ{height:42px;}.bootloader_UUiKJ{display:block!important;}